<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lil115.wordgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="SouthParkHeadsUp"
        android:supportsRtl="true"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HeadsUpEntry"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HeadsUp" />
        <activity android:name=".HeadsUpResult" />
        <activity android:name=".HeadsUpAddWord"></activity>
    </application>

</manifest>